---
import '../styles/style.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
  <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>
  <div class="container">
    <section class="item">
      <h2 class="heading">William Jackson</h2>
      <p class="subheading">C1 Software Development Student</p>
    </section>
    <section class="item left">
      <div class="item__content">
        <h2>EXPERIENCE</h2>
        <p>While working at an Amazon warehouse, I received
          full funding to study software development at
          Correlation One as a part of Amazon's robust
          commitment to upskilling nearly a million workers.
          It's an interesting time to be alive - where we can
          see fresh faces in tech working on automating the
          tasks that make up the bulk of their recent jobs!</p>
      </div>
    </section>
    <section class="item right">
      <div class="item__content">
        <h2>CAREER</h2>
        <p>My current preoccupations are learning the
          foundations of software development while exploring
          machine learning with a particular focus on voice
          cloning and related subjects in generative AI.</p>
      </div>
    </section>
    <section class="item left">
      <div class="item__content">
        <h2>ABOUT</h2>
        <p>To keep from being - as the youth say - terminally
          online, I enjoy writing, seeing films new and
          old&#40;wow I'm doing great with the screen
          time&#41;, balancing on my slack line, and creating
          new desserts or sweets of any kind.</p>
      </div>
    </section>
    <section class="item right">
      <div class="item__content">
        <h2>PROJECTS</h2>
        <p>
         PROJECT 1
         <br>
         My first project is a web blog designed to provide in-depth information on basic topics of personal finance.
         <br>
         <a href="https://github.com/willtjack/thebankrollrabbithole.tech">View on Github</a>
        </p>
      </div>
    </section>
  </div>
  
  <div class="container">
      <h3 class="mode-status">Switch to Dark Mode</h3>
      <label class="toggle-switch">
        <input type="checkbox" id="mode-toggle" />
        <span class="slider"></span>
      </label>
    </div>
  <script src="../scripts/script.js"></script>
</body>
</html>
